
/.bundle
/vendor/bundle/
/vendor/ruby/

db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
/db/schema.rb

.env
.keep

Gemfile.lock
.byebug_history
config/database.yml
db/schema.rb
.DS_Store

**.swp
.rubocop.yml

public/system/profiles/pictures

dump.rdb
swyya.sh
/spring-501/*