
/.bundle
/vendor/bundle/
/vendor/ruby/
/node_modules
yarn.lock

db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
/db/schema.rb

.env
.keep

Gemfile.lock
.byebug_history
config/database.yml
db/schema.rb
.DS_Store

**.swp
.rubocop.yml

public/system/profiles/pictures

dump.rdb
swyya.sh
/spring-501/*
lib/tasks/fetcher.rb
# Ignore master key for decrypting credentials and more.
/config/master.key
/config/secrets.yml
