%h4
  = "Welcome #{@username},"
%p
  First off, I’d like to extend a warm welcome and thanking for joining us in Swyya.
%p
  Please feel free to explore projects submited by other contributers, or Enjoy sharing your open-source projects.
%p
  Again, welcome!
%p
  Best, 
%p
  %strong
    Swyya Team