.row
  .col-lg-12.col-md-12.col-sm-12
    .row
      #heading-with-line.col-12
        %h5
          = t(:new_projects)
      .col-12
        .row
          .col
            = render partial: 'projects/partials/projects_list', locals: { projects: @newest_projects, length: 50 }

.row.my-5
  .col-lg-12.col-md-12.col-sm-12
    .row
      #heading-with-line.col-12
        %h5
          = t(:ideas)
      .col-12
        .row
          = render partial: 'ideas/partials/ideas_list', locals: { ideas: @more_ideas, targeted_col: 12 }
