- projects.each do |project|
  %div{class: "col-#{targeted_col}"}
    .card
      .card-body#custom-body
        .row
          .col-3
            = image_tag(project_image(project), class: 'card-img-top')
          .col-9
            %h5
              = link_to project.title, project, class: 'title'
            %p.card-text
              = truncate(project.description, length: 50)
            -# = link_to t(:repository), project.github_link, class: 'btn btn-secondary btn-sm', target: '_blank'