- projects.each do |project|
  .col-3
    .card
      - if project.image_url.present?
        = image_tag(project.image_url, class: 'card-img-top')
      .card-body#custom-body
        %h5
          = link_to project.title, project, class: 'title'
        %p.card-text= project.description
        -# = link_to t(:repository), project.github_link, class: 'btn btn-secondary btn-sm', target: '_blank'