.list-group
  - projects.each do |project|
    = link_to project[:url], target: '_blank', class: 'list-group-item list-group-item-action' do
      .row
        .col-2
          = image_tag(project[:image_url].present? ? project[:image_url] : 'missing.png', class: 'github-image')
        .col-10
          .ml-3
            %h5.title
              = project[:name]
            %p
              = truncate(project[:description], length: 30)
