.row
  #heading-with-line.col-12
    %h5
      = t(:listed_projects)
  .col-12
    .row
      = render partial: 'projects/partials/projects_list', locals: { projects: @projects, targeted_col: 4 }
    .row
      .mx-auto
        .apple_pagination
          = will_paginate @projects

.mt-3
  = render partial: 'visitors/trending_on_github'