.row
  .col-8
    = render partial: 'boards/owned_projects'
  .col-4
    = render partial: 'boards/liked_projects'

.row
  .col-8
    = render partial: 'boards/owned_ideas'
  .col-4
    = render partial: 'boards/liked_ideas'