#devise-box
  .card
    color: $BLACK
    background-color: $GRAY
    @extend .shadow-sm, .border, .col-6, .offset-3
    .links
      a
        color: $BLACK
        &:hover
          color: $APPLE
          text-decoration: none