.navbar
  height: 75px
  background-color: $GRAY !important
  .navbar-link
    color: $BLUE !important
    &:hover, &:focus
      color: $APPLE !important
      text-decoration: none
  ul
    li
      .navbar-link
        padding: 0px 7px !important
  .logo
    img
      width: 55px

.navbar-dropdown
  padding: 1px 7px !important
  color: $BLUE !important
  &:hover, &:focus
    background-color: $GRAY !important
    color: $APPLE !important
