#project-box
  .card
    color: $BLACK
    background-color: $GRAY
    @extend .shadow-sm, .border, .col-8, .offset-2
    .links
      a
        color: $BLACK
        &:hover
          color: $APPLE
          text-decoration: none
    img
      width: 250px !important

#github-resource
  color: $BLACK
  @extend .col-8, .offset-2, .text-right

#heading-with-line
  h5
    overflow: hidden
    text-align: center
    &:before, &:after
      background-color: #dee2e6
      content: ""
      display: inline-block
      height: 1px
      position: relative
      vertical-align: middle
      width: 50%
    &:before
      right: 0.5em
      margin-left: -50%
    &:after
      left: 0.5em
      margin-right: -50%