.btn-primary
  background-color: $BLUE
  color: $WHITE
  border-color: $DARKBLUE
  &:hover
    background-color: $DARKBLUE
    border-color: $DARKBLUE

.bg-success
  background-color: $APPLE !important
  color: $WHITE !important
  border-color: $APPLE !important

.bg-primary, .thead-primary
  background-color: $BLUE !important
  color: $WHITE !important
  border-color: $DARKBLUE !important

.btn-custom-width
  width: 100% !important

.toast
  min-width: 350px !important
  position: absolute
  z-index: 999
  right: 0
  @extend .mt-3, .mr-3
  .toast-header
    span, small, strong
      color: $WHITE

.card
  color: $BLACK
  background-color: $GRAY
  @extend .shadow-sm, .border, .mb-3
  .title
    font-family: 'Gugi', cursive !important
    color: $BLUE
  img
    width: 65% !important
    @extend .pt-3, .m-auto
  #custom-body
    @extend .pt-0, .mt-3