.white
  color: $WHITE !important
  &:hover
    text-decoration: none

.btn-primary
  background-color: $BLUE
  color: $WHITE
  border-color: $DARKBLUE
  &:hover
    background-color: $DARKBLUE
    border-color: $DARKBLUE

.bg-success, .badge-success
  background-color: $APPLE !important
  color: $WHITE !important
  border-color: $APPLE !important

.bg-primary, .thead-primary, .badge-primary
  background-color: $BLUE !important
  color: $WHITE !important
  border-color: $DARKBLUE !important

.btn-outline-primary
  color: $BLUE
  border-color: $BLUE
  &:hover, &:focus, &:active:hover, &:active:focus
    background-color: $BLUE !important
    border-color: $BLUE !important
    box-shadow: none !important
    border-color: $BLUE !important
    color: $WHITE !important

.tags-badge
  @extend .badge-success, .p-2, .my-1
  &:hover
    @extend .badge-primary

.btn-custom-width
  width: 100% !important

.toast
  min-width: 350px !important
  position: absolute
  z-index: 999
  right: 0
  @extend .mt-3, .mr-3
  .toast-header
    span, small, strong
      color: $WHITE

.card
  color: $BLACK
  background-color: $GRAY
  @extend .shadow-sm, .border, .mb-3
  .title
    font-family: 'Gugi', cursive !important
    color: $BLUE
    &:hover
      text-decoration: none
      color: $APPLE !important
  img
    width: 65px !important
    @extend .shadow-sm, .rounded-circle, .my-3
  .icon-link
    color: $BLACK
    &:hover
      color: $APPLE !important
      text-decoration: none
  #custom-body
    @extend .mb-2, .pb-0