@media (max-width: 768px)
  #welcome-section
    height: auto !important

#welcome-section
  @extend .mt-0, .w-100, .mb-5, .shadow-sm
  height: 330px
  background-color: $GRAY
  .jumbotron
    @extend .container
    background-color: transparent
    h1
      font-family: 'Gugi', cursive !important
      small
        color: $APPLE !important
        font-size: 1.25rem
    .lead
      font-size: 1.0rem

#search
  height: 60px !important
  font-family: 'Montserrat', sans-serif !important
  .form-control
    font-size: 0.75rem
    &:focus, &:active, &:active:focus
      box-shadow: 0px 1px 1px rgba(0, 0, 0, .075) inset, 0px 0px 8px rgba(94, 186, 176, .5) !important

#search-box
  .card
    color: $BLACK
    background-color: $GRAY
    @extend .shadow-sm, .border, .col-lg-12, .col-md-12, .col-sm-12
    .links
      a
        color: $BLACK
        &:hover
          color: $APPLE
          text-decoration: none

  .table-striped
    td, th
      background-color: $WHITE
      @extend .shadow-sm, .border, .py-2
      &:hover
        background-color: $GRAY
