%ul.navbar-nav.mr-auto
  %li.nav-item
    = link_to '#', class: 'navbar-link' do
      = icon('fas', 'lightbulb', 'Projects')
  %li.nav-item
    = link_to '#', class: 'navbar-link' do
      = icon('fas', 'comments', 'Ideas')
