%ul.navbar-nav.mr-auto
  %li.nav-item
    = link_to projects_path, class: 'navbar-link' do
      = icon('fas', 'project-diagram', t(:projects))
  %li.nav-item
    = link_to '#', class: 'navbar-link' do
      = icon('fas', 'brain', t(:ideas))