= form_tag search_results_path, class: 'w-50 pl-3', method: :get do
  #search
    .input-group
      = text_field_tag :search, params[:search], { class: 'form-control', placeholder: t(:index_search) }
      .input-group-append
        = submit_tag t(:search), class: 'btn btn-outline-primary search-btn'
