- if flash.present?
  - flash.each do |key, message|
    %div{'aria-atomic' => 'true', 'aria-live' => 'polite', style: 'position: relative; min-height: 200px;'}
      .toast{style: 'position: absolute; top: 0; right: 0;'}
        .toast-header
          %strong.mr-auto
            = icon('fas', 'exclamation-circle', key.to_s.titleize)
          %small.text-muted
            = time_ago(Time.now)
          %button.ml-2.mb-1.close{'aria-label': 'Close', 'data-dismiss': 'toast', type: 'button'}
            %span{'aria-hidden': 'true'} ×
        .toast-body
          = message

:javascript
  $(function () {
    $('.toast').toast({
      autohide: true,
      delay: 5000,
    })
    $('.toast').toast('show')
  })
